@import "variables";
@import "navbar";

//Elements
h1{
  color: $primary_colour;
  background-color: $secondary_background_colour;
  width: 100%
}

h2{
  color: $thirth_colour;
  background-color: $secondary_background_colour;
  width: 100%
}

body {
  padding-top: 10px;
}