//colours
$primary_background_colour: white;
$secondary_background_colour: rgba(225, 225, 225, 0.555);

$primary_colour: black;
$secondary_colour: rgb(120, 120, 120);
$thirth_colour: rgb(0, 120, 120);
$error_Colour: red;